body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.website-background-color {
  background-color: green !important;
}

main {
  flex: 1 0 auto;
}

#chat-messages {
  min-height: 10vh;
  height: 60vh;
  width: 100%;
  overflow-y: scroll;
}

.game-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.game-canvas {
  min-height: 430px;
  border: solid 1px black;
  width: 100%;
  display: block;
  background-color: #F6EBC1;
}

.game-hand {
  min-height: 150px;
  width: 100%;
  display: block;
  height: 40px;
}

.clicked-card {
  border: solid 1.5px green !important;
}

.playing-card-wrapper {
  transition: 0.2s;
  margin-top: 0px;
}

.playingCards .card:hover {
  border: solid 1.5px red;
}

.emphasize-username {
  color: yellowgreen;
  font-weight: bold;
  text-decoration: underline; 
}

.my-turn {
  font-weight: bold;
  color: green;
}

.faded-card {
  opacity: 0.2;
}

.button-submit,
.button-pass,
.button-warning,
.button-sort-rank,
.button-sort-suit {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.game-play-button-wrapper {
  display: flex; 
  flex-direction: row; 
  bottom: 20px; 
  justify-content: space-between; 
  padding-left: 130px; 
  padding-right: 130px;
  margin-top: 20px;
}

.button-submit {
  background: rgb(28, 184, 65);
  margin: 10px 5px 10px 5px;
  font-size: 25px;
  padding-left: 30px;
  padding-right: 30px;
}

.button-pass {
  background: rgb(202, 60, 60);
  margin: 10px 5px 10px 5px;
  font-size: 25px;
  padding-left: 30px;
  padding-right: 30px;
}

.button-warning {
  background: rgb(223, 117, 20);
}

.button-sort-rank, 
.button-sort-suit {
  font-size: 20px;
  margin: 15px;
}

.button-sort-rank {
  background: rgb(66, 184, 221);
}

.button-sort-suit {
  background-color: brown;
}